<div class="card">
  <div class="card-body">
    <form [formGroup]="quizForm" (ngSubmit)="onSubmit(quizForm.value)">
      <div class="p-field p-col-12">
        <label for="state" class="input-field">Category: <p-dropdown inputId="state" [options]="quizCategory" placeholder="Select"
            [showClear]="true" formControlName="category"></p-dropdown></label>

      </div>
      <div class="p-field p-col-12 input-field">
        <label for="difficulty">Difficulty</label>
        <p-selectButton [options]="quizDifficilty" formControlName="difficulty"></p-selectButton>
      </div>
      <div class="p-offset-4 input-field">
        <p-button label="Start Quiz" type="submit" [disabled]="!quizForm.valid" styleClass="ui-button-info" class="input-field"></p-button>
      </div>
    </form>
  </div>
</div>
