<div class="card">
  <div class="card-body">
    <h2>QuizMe</h2>
    <form [formGroup]="quizForm" (ngSubmit)="onSubmit(quizForm.value)">
      <div class="p-field p-col-12">
        <label for="state">Category</label>
        <p-dropdown
          inputId="state"
          [options]="quizCategory"
          placeholder="Select"
          optionLabel="name"
          [showClear]="true"
          formControlName="category"
        ></p-dropdown>
      </div>
      <div class="p-field p-col-12">
        <label for="difficulty">Difficulty</label>
        <p-selectButton
          [options]="quizDifficilty"
          formControlName="difficulty"
        ></p-selectButton>
      </div>
      <div class="p-offset-4">
        <p-button
          label="Start Quiz"
          type="submit"
          [disabled]="!quizForm.valid"
          styleClass="ui-button-info"
          routerLink="question"
        ></p-button>
        </div>
    </form>

  </div>
</div>
