<p-card header="TOPIC: {{ category | uppercase }} - {{ difficulty | uppercase }} ">
    <form #quizForm="ngForm" ngForm (ngSubmit)="submitAnswer(quizForm.value)">
      <div *ngFor="let question of questions | paginate: { itemsPerPage: 1, currentPage: currentPage}">
        <p-divider align="left">
          <div class="inline-flex align-items-center">
            <b>Question No. {{ question.questionNo }} </b>
          </div>
        </p-divider>
        <h3>{{ question.question }}</h3>
        <div *ngFor="let answer of question.answers">
          <div *ngIf="answer !== null">
            <label name="option"> <input type="radio" ngModel name="option" #radioOption [value]="answer" required> {{ answer }}</label>
          </div>
        </div>
      </div>
      <p-button label="Success" styleClass="p-button-success" type="submit" *ngIf="!isAnswerCorrect"></p-button>
    </form>
  <p-button label="Next Question" (click)="nextQuestion(currentPage)" *ngIf="isAnswerCorrect"></p-button>
  <div *ngIf="showResult">
    <p *ngIf="isAnswerCorrect">Correct Answer!</p>
    <p *ngIf="!isAnswerCorrect">Wrong Answer, Try Again!</p>
  </div>
</p-card>
